:root {
  --color1: white;
  --color2: black;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #000000;
  min-height: 1000px;
}

/* Navbar */
.navbar {
  font-family: "Orbitron";
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; /*sejajar*/
  padding: 1.2rem 3%;
  background-color: rgb(0, 0, 0);
  /*border-bottom: 1px solid rgb(0, 0, 0);*/
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 99999;
}

.navbar .navbar-logo {
  font-size: 1.7rem;
  font-weight: 500;
  font-family: "Orbitron";
  background-clip: none;
  background-position: 0;
  background: linear-gradient(
    to right,
    #a3a3a3 0,
    rgb(255, 255, 255) 10%,
    #565656 20%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s infinite linear forwards;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  text-decoration: none;
  white-space: nowrap;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
}

.home .content {
  margin-left: 4rem;
  margin-top: 1rem;
  padding: 1rem 1%;
  max-width: 100rem;
  z-index: 888;
  color: white;
}

.home .content h2 {
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 300;
  text-shadow: 0 5px 10px black;
  animation: discover 1.4s ease-in-out forwards;
}

.home .content h1 {
  font-family: "Orbitron";
  margin-top: 1rem;
  font-size: 4rem;
  font-weight: 500;
  text-shadow: 0 5px 10px black;
  animation: discover 1.4s ease-in-out forwards;
}

.home .content p {
  font-family: "Poppins";
  max-width: calc(45rem + 2rem);
  font-weight: 200;
  margin-top: 2rem;
  font-size: 1.6rem;
  text-align: left;
  margin-bottom: 3rem;
  mix-blend-mode: difference;
  max-width: 45%;
  animation: discover 1.6s ease-in-out forwards;
  text-shadow: 0 5px 10px black;
}

.home img {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#menu {
  display: none;
}
::-webkit-scrollbar {
  display: none;
}

.method {
  position: relative;
  min-height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  background: #ffffff;
}

.method h3 {
  margin-top: 5rem;
  font-weight: 400;
  font-size: 2rem;
  color: black;
}

.method h1 {
  color: black;
  font-size: 3rem;
  font-weight: 500;
}

.method .content {
  margin-left: 4%;
  display: flex;
  gap: 2rem;
}

.method .content p {
  flex: 1;
  margin-top: 4rem;
  font-size: 1.4rem;
  max-width: 48%;
  text-align: justify;
  justify-content: left;
  color: black;
  font-weight: 400;
}

.method .content img {
  margin-top: 3rem;
  flex: 0 0 auto;
  height: auto;
  border-radius: 8px;
}

.method .criteria {
  margin-top: 4rem;
  margin-left: 4%;
  display: flex;
  position: relative;
  gap: 2rem;
}

.method .criteria p {
  color: black;
  max-width: 100%;
  font-size: 1.4rem;
  margin-top: 2rem;
  position: absolute;
  text-align: left;
}

.criteria li {
  justify-content: center;
  list-style: none; /* Hapus bullet default */
  padding: 1rem 2rem;
  margin-top: 5rem;
  background-color: white;
  border-radius: 4px;
  color: #000000;
  border: 3px solid black;
  font-size: 1.7rem;
  font-weight: 500;
  transition: 0.7s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Tambahkan efek bayangan */
}

.criteria li:hover {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

.criteria ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 kolom */
  gap: 1rem; /* Jarak antar kotak */
  justify-items: center; /* Tengah-kan isi */
}

.exp {
  margin-top: 4rem;
  margin-left: 4%;
  margin-right: 4%;
  display: flex;
  position: relative;
}

.exp p {
  color: black;
  text-align: justify;
  font-size: 1.4rem;
}

.ability {
  margin-left: 4%;
  display: flex;
  gap: 4rem;
}

.ability p {
  flex: 1;
  margin-top: 4rem;
  font-size: 1.4rem;
  margin-right: 4%;
  margin-bottom: 4%;
  text-align: justify;
  justify-content: left;
  color: black;
  font-weight: 400;
}
.ability img {
  margin-top: 3rem;
  flex: 0 0 auto;
  height: auto;
  border-radius: 8px;
}

.calculate {
  position: relative;
  display: flex;
  overflow: hidden;
  min-height: 70vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
}

.calculate .content {
  padding: 1rem 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 100rem;
  z-index: 888;
  color: white;
}

.calculate .content h1 {
  font-family: "Orbitron";
  font-size: 4rem;
  text-align: center;
  font-weight: 500;
}

.calculate img {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.calculate .content .cta {
  margin-top: 3rem;
  color: white;
  font-family: "Orbitron";
  padding: 2rem 4rem;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 2rem 4rem;
  background-color: #000000;
  transition: background-color 0.3s ease;
  clip-path: polygon(20% 10%, 80% 10%, 90% 50%, 80% 90%, 20% 90%, 10% 50%);
  width: 20rem; /*width hexagon */
  height: 6.9rem; /* height hexagon */
}

.calculate .content .cta:hover {
  background-color: white;
  color: #000000;
}

@media (max-width: 768px) {
  .criteria ul {
    grid-template-columns: repeat(2, 1fr); /* 2 kolom pada layar kecil */
  }
}
